<div>
    <div class="submit-form">
        <div *ngIf="!submitted ">

            <h1>Новый проект</h1>

            <form [formGroup]="projectForm" (ngSubmit)="submit()" novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="title" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" rows="3" maxlength="50"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>

        </div>
        {{errors}}
        <div *ngIf="submitted && !errors.length">
            <h4>Project was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newProject()">Создать новый проект</button>
            <button class="btn" routerLink="projects">Вернуться к списку</button>
        </div>
        <div *ngIf="errors.length">
            <span>{{ errors }}</span>
        </div>
    </div>
</div>