.projects-header {
    display: flex;
    justify-content: space-between;
    .controls {
        margin-top: -.5rem;
    }
}

.projects-container {
    padding-top: 1rem;
    mat-card-content {
        
        p {
            margin-top: 16px;
        }
    }

    mat-tab-group {
        
        .tab-content {
            margin-top: 16px;
            margin-bottom: 16px;
            min-height: 300px;
            // mat-spinner::w
            mat-spinner {
                position: absolute;
                top: 30%;
                left: 45%;
            }
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            mat-card {
                .top-controls {
                    position: absolute;
                    right: 0;
                    button {
                        transform: scale(.75);
                        border-radius: 0 !important;
                        margin-left: -10px;

                        .mat-mdc-button-persistent-ripple {
                            border-radius: 0 !important;
                        }
                    }
                }
            }
        }
    }
}